---
layout: default
---

<h2>{{ page.title }}</h2>
<time>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time>

{{ content }}


<h3 id="additional-resources">Additional Resources</h3>

<p><a href="https://exax.org">The Accelerator’s Homepage (exax.org)</a><br />
  <a href="https://github.com/ebay/accelerator">The Accelerator on Github/eBay</a><br />
  <a href="https://berkeman.github.io/pdf/acc_manual.pdf">Reference Manual</a></p>

